{% extends "base.html" %}
{% load crispy_forms_tags %}{% load static %}
{% block content %}
{% if not user.is_authenticated %}
<section class="hero">
    <h1>Welcome!</h1>
    <img src="{% static 'images/hero.jpg' %}" alt="Programmers collaborating" style="border-radius: 20px;">
    <h2>Connect, Code, Share Together</h2>
    <a href="{% url 'signup' %}" class="btn btn-primary">Join the Community!</a>
</section>
{% else %}
<h1>Latest Discussions</h1>
    {% if discussions %}
    <ul class="discussions">
            <a href="{% url 'chat:discussion_list' %}" class="btn btn-primary">Discussions</a>
    </ul>
    {% else %}
    <p>There are no discussions yet. Be the first to create one!</p>
    {% endif %}
        <h1>Latest Projects</h1>
        <ul class="discussions">
            <a href="{% url 'codes_list' %}" class="btn btn-primary">Projects</a>
{% endif %}
{% endblock content %}