{% extends "base.html" %} {% load crispy_forms_tags %}
{% block title %}Signup{% endblock title %}
{% block content %}
<br>
<div class="centered-element">
{% if not user.is_authenticated %}
  <form class="form" method="post" action="{{ request.path }}">
    <p class="title">Register </p>
    <p class="message">Signup now and get full access. </p>
    <div class="flex">
      <label class="col-sm-2 col-form-label">
      {% csrf_token %}
      {{ form.as_p }}
      <p><button class="submit">Register</button></p>
      </label>
    </div>
  </form>
<br>
{% else %}
  <p>You already registered. Click <a href="/">here</a> to reach the home page.</p>
</div>
{% endif %}
{% endblock content %}