{% extends "base.html" %}{% load crispy_forms_tags %}
{% block title %}{{ object }} at {{ block.super }}{% endblock title %}
{% block content %}
<h1>User: {{ object.username }}</h1>
    <div class="profile-image-container">
      <img
        src="{{ user.profile.picture.url }}"
        alt="'picture here'"
        class="rounded-circle profile-img"
        style="width: 200; height: auto;"
      />
    </div>
  <p>Full name: {{ object.first_name }} {{ object.last_name }}</p>
  <p>e-mail: {{ object.email }}</p>
  {% if object == request.user %}
    <p><a class="button" href="{% url "user_update" %}">Edit profile data</a></p>
  {% endif %}
{% endblock content %}