{% extends "base.html" %}{% load crispy_forms_tags %}{% load static %}
{% block title %}{{ object }} at {{ block.super }}{% endblock title %}
{% block content %}
<h1>User: {{ object.username }}</h1>
<div class="centered-element">
  <div class="form">
    <div class="profile-image-container">
      {% if user.profile.picture %}
      <a href="{{ object.profile.picture.url }}" target="_blank">
        <img src="{{ object.profile.picture.url }}" alt="profile picture" class="rounded-circle profile-img" style="width: 400px; height: 400px; outline-style: double;">
      </a>
    {% else %}
      <img src="{% static 'default.jpg' %}" alt="No profile picture" class="rounded-circle profile-img" style="width: 400px; height: 400px; outline-style: double;">
      {% endif %}
    </div>
    <br>
  <p>Full name: {{ object.first_name }} {{ object.last_name }}</p>
  <p>E-mail: {{ object.email }}</p>
  {% if object == request.user %}
    <p><a class="btn btn-primary" href="{% url "user_update" %}">Edit profile data</a></p>
  {% endif %}
  </div>
</div>
{% endblock content %}