body {
    background-color: #cccccca2;
    min-height: 100vh;
    font-size: 16px;
    flex-direction: column;
    margin: 0; padding: 0;
    display: flex;
    font-family: sans-serif;
}

header {
    background-color: #999999;
    padding: 20px;
    text-align: center;
}

main {
    flex-grow: 1;
}

header ul li {
    margin: 1rem;
}

.spacer {
    flex-grow: 1;
}

.hero {
    text-align: center;
    padding: 50px;
    background-image: linear-gradient(to bottom, #e0e0e0, #f0f0f0);
}

.hero img {
    width: 50%;
    
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(199, 200, 217);
    z-index: 10;
  }

.discussions {
    padding: 20px;
}

.discussions li {
    margin-bottom: 15px;
}

.profile-image-container {
    width: 400px; /* Adjust width as needed */
    position: relative; /* Required for responsive sizing */
}

main h1 {
    text-align: center;
}

.form {
    display: table;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }

.textarea {
    columns: 30;
}

.centered-element {
    margin: auto 743px;
}

.toolbar {
    text-align: center;
}
  
.title {
    font-size: 28px;
    color: rgb(71, 119, 223);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
  
.title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: rgb(71, 119, 223);
}
  
.title::before {
    width: 18px;
    height: 18px;
    background-color: rgb(71, 119, 223);
}
  
.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}
  
.message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}
  
.signin {
    text-align: center;
}
  
.signin a {
    color: rgb(71, 119, 223);
}
  
.signin a:hover {
    text-decoration: underline rgb(71, 119, 223);
}
  
.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}
  
.form label {
    position: relative;
}
  
.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}
  
.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}
  
.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}
  
.form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}
  
.form label .input:valid + span {
    color: green;
}
  
  .submit {
    border: none;
    outline: none;
    background-color: rgb(71, 119, 223);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(32, 32, 208);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

.discussions {
    text-align: center;
}