{% extends 'base.html' %} {% load crispy_forms_tags %}
{% block title %} Log in to {{ block.super }}{% endblock title %}
{% block content %}
<h1>Log in to AUTOMATON</h1>
<div class="centered-element">
<div class="form">
{% if form.errors %}
<p class="box box-error">Log in error. Please try again.</p>
{% endif %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
{% if request.GET.next and '/accounts/' not in request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
{% endif %}
    <p><button type="submit" class="btn btn-primary">Log in</button></p>
</form>
<p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
<p>If you do not have an account, please <a href="{% url 'signup' %}">sign up.</a>
</div>
</div>
{% endblock content %}