{% extends 'base.html' %}
{% block title %}{% trans "log in to"|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "log in to"|capfirst %} AUTOMATON</h1>
{% if form.errors %}
<p class="box box-error">{% trans "Log in error. Please try again." %}</p>
{% endif %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form.as_p }}
{% if request.GET.next and '/accounts/' not in request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
{% endif %}
<p><button type="submit">{% trans "log in"|capfirst %}</button></p>
</form>
<p><a href="{% url 'password_reset' %}">{% trans "forgot password?"|capfirst %}</a></p>
<p>{% trans "If you do not have an account, please" %} <a href="{% url 'signup' %}">{% trans "sign up" %}</a>.
{% endblock content %}