{% extends 'base.html' %}
{% block title %}{% trans "reset password"|title %} | {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans "reset password"|title %}</h1>
{% if validlink %}
    <form method="post" action="{{ request.path }}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "reset password"|title %}</button>
    </form>
{% else %}
    <p class="box box-error">{% trans "Password Reset Failed: the link has expired and is no longer valid." %}</p>
{% endif %}
{% endblock content %}