{% extends "base.html" %}  {% load crispy_forms_tags %}  {% block content %}
<h1>Discussions</h1>
<div class="centered-element">
<form class="form" method="post" action="{% url 'chat:discussion_create' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Create New Discussion</button>
</form>
<br>
  {% if discussions %}
      {% for discussion in discussions %}
      <li>
        <div class="form">
          <h3><a href="{% url 'chat:discussion_detail' discussion.id %}">{{ discussion.title }}</a></h3>
          <p>Post: {{ discussion.main_content|truncatechars:50 }}</p>
          <p>{{ discussion.created_at }} By: {{ discussion.starter }}</p>
        </div>
      </li>
      <br>
      {% endfor %}
  {% else %}
    <p>There are no discussions yet. Be the first to create one!</p>
  {% endif %}
    </div>
{% endblock content %}
