{% extends "base.html" %}  {% block content %}
<br>
<div class="discussion">
  <h1>{{ discussion.title }}</h1>  <p>Started by:<strong><a href="{% url "user_detail" discussion.starter.username %}">{{ discussion.starter.username }}</a></strong></p>
  <p>Post: {{ discussion.main_content }}</p>
  <p>Created at: {{ discussion.created_at }}</p>
</div>
<br>
  <h2>Posts</h2>
  {% if discussion.posts.all %}
    <ul class="posts">
      {% for post in discussion.posts.all %}
        <li>
          <p><strong>{{ post.author.username }}</strong> - {{ post.created_at }}</p>
          <p>{{ post.content }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no posts in this discussion yet. Be the first to add one!</p>
  {% endif %}

  <h2>Add Comment:</h2>
  <form method="post" action="{% url 'chat:add_post' discussion.id %}">
    {% csrf_token %}
    {{ form.as_p }}  <input type="hidden" name="discussion" value="{{ discussion.id }}">
    <button class="btn btn-primary" type="submit">Comment</button>
  </form>  

{% endblock content %}
